<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TeamcityAuth" value="https://dpcbuild.deltares.nl/httpAuth/app/nuget/feed/_Root/default/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="TeamcityAuth" value="https://dpcbuild.deltares.nl/httpAuth/app/nuget/feed/_Root/default/v3/index.json" />
  </activePackageSource>
</configuration>