<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <!-- Remove any existing package sources.-->
    <clear />
    <!-- Add the Nuget package sources -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TeamcityAuth" value="https://dpcbuild.deltares.nl/httpAuth/app/nuget/feed/_Root/default/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="TeamcityAuth">
      <package pattern="DHYDRO.SharedConfigurations" />
      <package pattern="DeltaShell.ApplicationPlugin" />
      <package pattern="DeltaShell.Framework" />
      <package pattern="DeltaShell.TestProject" />
      <package pattern="Deltares.NET.Infrastructure" />
      <package pattern="Deltares.NET.Infrastructure.API" />
      <package pattern="Deltares.UGridNET" />
      <package pattern="MeshKernelNET" />
      <package pattern="Deltares.MeshKernel" />
    </packageSource>
  </packageSourceMapping>
</configuration>