<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TeamcityAuth" value="http://c-teamcity0001.directory.intra:8111/httpAuth/app/nuget/feed/_Root/default/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="TeamcityAuth" value="http://c-teamcity0001.directory.intra:8111/httpAuth/app/nuget/feed/_Root/default/v3/index.json" />
  </activePackageSource>
  <packageSourceCredentials>
    <TeamcityAuth>
      <add key="Username" value="fun_teamcity" />
      <add key="ClearTextPassword" value="FA+WC@fc#O$vIwgtM" />
    </TeamcityAuth>
  </packageSourceCredentials>
</configuration>